* {box-sizing: border-box;}
html {font-size: 18px;
      max-width: 360px;
      margin: 0 auto;
      }

body {
    background: #fff;
    color: #d3d3d3;
    font-family: 'STIX Two Text', serif;
}

header {
  width: auto;

}


main {
    max-width: 360px;
    margin: 0 auto;

}


h1 {
  font-size: 1em;
  text-transform: uppercase;
  padding:40px;
  background-color: #333d47;
  color:white;
  text-align: center;
  margin: 0px;


}

h2{
  font-size: 1.25em;
  text-align: center;
  color: #333d47;
  font-weight: bold;
}
hr {
  border-bottom: 2px solid #333d47;
  margin-top: 0px;
}

#latest {
  text-align: center;
  border-bottom: 5px solid #333d47;
  margin-bottom: 3px;
  padding-bottom: 30px;

  }

fieldset,
input, select, textarea {
    border:none;

}

legend {
    font-size: 1.25rem;
    margin-bottom: 5px;
    color: #333d47;
    font-weight: bold;

}

form, select {
    font-size: 1rem;
    color: #697a8a;
    background-color: #fafafa
}

label {
    display: block;
    margin-top: 1.5rem;
    font-size: 1.1rem;

}

input, textarea, select, .state {
    display: block;
    border-style: none;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    font-size: 18px;
    background-color: #f0f0f0;
    color:#697a8a;
    cursor: pointer;
}
input:focus, textarea:focus {
    outline: 1px solid darkblue;


}

::placeholder {
    color: #697a8a;
    text-align: right;
    font-style: italic;
    font-size: .75em;

  }

  input[type="number"] {
    max-width: 25%;
    margin-bottom: 25px;
  }


label.news {
  font-weight: 300;
  display: inline;
  padding: 20px 10px;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  float: left;

}

button {
  padding: 20px 35px 20px 35px;
  color: #FFF;
  background-color: #36bdc9;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;


}

button:hover {
  background-color: #34b4bf;
  cursor: pointer;
}

#zip-code {
  max-width:25%;
}

#copywrite {
  text-align: center;
  font-size: .75em;
  font-style: italic;
}
label.topics {
  font-size: 1rem;
}

.contact {
    padding-top: 40px;
    margin-top: -10px;

}
.newsletter-text {
    padding-top: 10px;
    margin-top: 0px;
    }

.preferences {
      padding-top: 30px;
      margin-top: 20px;

  }

  #newsletter {
      font-size: 1.25em;
      font-weight: bold;
  }


@media (min-width:768px){


html {font-size: 18px;
      max-width: none;
      margin: 0 auto;
      }
main {
          max-width: 800px;
          margin: 0 auto;
}

#box {
      max-width: 800px;
      margin: 0 auto;
}

.contact label {
       flex: 20%;
       padding-top: 5px;
   }

.contact-info {
       display: flex;
       flex-wrap: wrap;
     }

.contact-info input,
.contact select {
       flex: 80%;
   }

label[for="zip-code"] {
   max-width: 20%;
      }

#zip-code {
    max-width: 25%;
    margin-right: auto;
      }
}
